.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("../packages/Pdf/index.css");
@import url("./rangy.css");

@layer components {
  .container {
    @apply max-w-7xl self-center;
  }
}

@layer base {
  html,
  body {
    overflow-x: hidden;
    font-family: "Lora";
  }
  p {
    @apply font-[400] lg:text-[19px] md:text-[16px] text-[14px];
  }
  h1 {
    @apply font-[600] lg:text-[34px] md:text-[28px] text-[22px];
  }

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 30px;
  }
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.overflow-scroll::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.zoom-hover:hover img {
  transform: scale(1.1); /* Adjust the scale value as needed */
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}
.zoom img {
  transform: scale(1.1); /* Adjust the scale value as needed */
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.hover-card:hover .zoom-image {
  transform: scale(1.1); /* Zoom in the image */
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
}

.zoom-image {
  transition: transform 0.3s ease-in-out; /* Smooth transition for zoom effect */
}

/* Ensuring that the image stays within its container */
.aspect-square {
  overflow: hidden;
}

.custom-select {
  -webkit-appearance: none; /* Removes default styling for WebKit browsers */
  -moz-appearance: none; /* Removes default styling for Mozilla browsers */
  appearance: none; /* Removes default styling */
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

/* For Firefox, to remove the additional dropdown padding */
@-moz-document url-prefix() {
  .custom-select {
    text-indent: 0.01px;
    text-overflow: "";
  }
}

.sidebar-open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.sidebar-closed {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.pdfViewer * * {
  max-width: 100%;
}
.pdfjs-container {
  position: relative;
  /* display: flex; */
}
/* .pdfjs-container * {
  max-width: 100%;
} */

.pdfjs-container canvas {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 170px);
}

.pdfjs-container.pdfjs-full canvas {
  height: calc(100vh);
}

/* .pdfjs-container svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: transparent;
  fill: transparent;

  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
  max-width: 100%;
} */

/* .pdfjs-container svg * {
  fill: red;
} */

.pdf-text-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
}

.pdf-text-layer > div {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.pdfjs-text-layer {
  /* background-color: #ffff00a3; */
  width: 100%;
  max-width: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.div-span-text {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.div-span-text span {
  display: inline-block;
  white-space: nowrap;
}

.pdfjs-text-layer svg {
  color: transparent;
  /* fill: transparent; */
}

#upload-button {
  width: 150px;
  display: block;
  margin: 20px auto;
}

#file-to-upload {
  display: none;
}

#pdf-main-container {
  width: 100%;
  margin: 0 auto;
}

#pdf-loader {
  display: none;
  text-align: center;
  color: #999999;
  font-size: 13px;
  line-height: 100px;
  height: 100px;
}

#pdf-contents {
  display: none;
}

#pdf-contents {
  display: none;
  max-width: 100%;
  overflow: auto;
}

#pdf-meta {
  overflow: hidden;
  margin: 0 0 20px 0;
}

#pdf-buttons {
  float: left;
}

#page-count-container {
  float: right;
}

#pdf-current-page {
  display: inline;
}

#pdf-total-pages {
  display: inline;
}

#pdf-canvas {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#page-loader {
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: none;
  color: #999999;
  font-size: 13px;
}

#text-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* opacity: 0.2; */
  /* opacity: 1; */
  line-height: 1;
}

#text-layer > div {
  color: transparent;
  /* color: red; */
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.content-search-highlight {
  color: #f5a623;
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  font-weight: bold;
}

.reference-text * {
  font-size: 12px !important;
}

@import url("./pdf_viewer.css");

.pdfViewer * * {
  max-width: 100%;
}

#viewerContainer .page {
  margin: 0 auto;
}

#viewerContainer .textLayer {
  margin: 0 auto;
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f4f7fa !important;
  background-color: #000000;
  height: 30px !important;
  width: 25px !important;
  cursor: pointer;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-next {
  position: absolute;
  right: -3px !important;
}

.swiper-button-prev {
  position: absolute;
  left: -3px !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
}

/* .mantine-PinInput-input,
.mantine-1xj65d5 {
  border: 1px solid #a6b2c3 !important;
  height: 56px !important;
  width: 44px !important;
  background-color: pink;
} */

.mantine-DatePickerInput-input {
  border-radius: 16px !important;
  font-family: "Lora" !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  padding: 8px 12px !important;
  padding-left: 40px !important;
}

::placeholder {
  font-family: "Lora" !important;
  font-size: 18px !important;
}