#intro {
  font-size: 125%;
  color: green;
}

#content {
  margin-left: 330px;
}

#buttons {
  left: 10px;
  position: fixed;
  border: solid black 1px;
  background-color: lightgoldenrodyellow;
  padding: 5px;
  width: 300px;
}

#code {
  width: 95%;
}

#selectioncontent {
  border: solid black 1px;
  padding: 0.125em;
  background-color: white;
  overflow: auto;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
  -ms-user-select: none;
  user-select: none;
}

*.warning {
  border: solid darkred 2px;
  padding: 3px;
  background-color: #f77;
}

#text-layer .note {
  background-color: rgb(44 126 214 / 20%);
  border-bottom: 2px solid rgb(44 126 214);
  /* cursor: pointer; */
}

#summary {
  border: dotted orange 1px;
}
/* .highlight {
  color: #f5a623;
} */

#text-layer .highlight {
  background-color: rgba(255, 165, 0, 0.5);
  border-bottom: 2px solid orange;
  /* cursor: pointer; */
  color: transparent !important;
}

#viewerContainer .note {
  background-color: rgb(44 126 214 / 20%);
  border-bottom: 2px solid rgb(44 126 214);
  /* cursor: pointer; */
}

#viewerContainer .highlight {
  background-color: rgba(255, 165, 0, 0.5);
  border-bottom: 2px solid orange;
  /* cursor: pointer; */
  color: transparent !important;
}

/* .highlight {
  background-color: red;
} */

.mantine-DatePickerInput-input {
  font-size: 16px !important;
}