.pdf-container > canvas {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 100%;
  /* max-width: 1000px; */
  background-color: #fff;
}

.pdf-container {
  position: relative;
  width: 100%;
  --scale-factor: 1;
}

.pdf-container > div {
  position: relative;
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 100%;
  /* max-width: 1000px; */
  background-color: #fff;
}

.pdf-container > div > canvas {
  width: 100%;
}

.pdf-container > div > div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.pdf-container > div > div > span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.pdf-container > div > div > br::selection {
  background: transparent;
}

.pdf-container * {
  max-width: 100%;
}
